<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- 
      Przykład dla Windows Authentication, serwer „Bimba”:
      Jeśli Twoja instancja to np. Bimba\SQLEXPRESS, wstaw „Bimba\SQLEXPRESS” zamiast „Bimba”.
      Dodajemy parametry TrustServerCertificate=True oraz Encrypt=False (opcjonalnie jedno z nich wystarczy).
    -->
		<add name="SystemOOKK_ConnectionString"
			 connectionString="Server=Bimba;Database=SystemOOKK;Integrated Security=True;TrustServerCertificate=True;Encrypt=False"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>
